* {
    font-family: "lato";
  }
  
  body {
    background-color: rgb(241, 241, 241);
  }
  
  @media (min-width: 1024px) {
    .int {
      margin-left: 10px;
      width: 800px;
    }
  }
  @media (max-width: 1023px) {
    .int {
      margin-left: 10px;
      width: 400px;
    }
  }