* {
    font-family: "lato";
  }
  
  body {
    background-color: rgb(241, 241, 241);
  }
  
  @media (min-width: 1024px) {
    .int {
      margin-left: 10px;
      width: 800px;
    }
  }
  @media (max-width: 1023px) {
    .int {
      margin-left: 10px;
      width: 400px;
    }
  }

// Haciendo el mapa responsive

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Demo styles */
body{
  padding: 50px;
}
.iframe-container{
margin-bottom: 50px;
background: #eee;
}