/* desktop */
@mixin menur ($float,$color,$text-align,$padding,$text-decoration,$font-size) { 
  float: $float;
  color: $color;
  text-align: $text-align;
  padding: $padding;
  text-decoration: $text-decoration;
  font-size: $font-size;
}

@media (min-width: 1024px) {
    .prueba {
      overflow: hidden;
      background-color: #333;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .prueba a {
      @include menur(left,#f2f2f2,center,14px 100px,none,17px)
   
    }
  
    .prueba a:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .galeria {
    text-align: center;
  }
  /* para tablet */
  @media (min-width: 480px) and (max-width: 1023px) {
    .prueba {
      overflow: hidden;
      background-color: #333;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .prueba a {
      @include menur(left,#f2f2f2,center,1rem 1rem,none,12px)

    }
  
    .prueba a:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .galeria {
    text-align: center;
  }
  
  /* para smart */
  @media (max-width: 479px) {
    .prueba {
      overflow: hidden;
      background-color: #333;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .prueba a {
      @include menur(left,#f2f2f2,center,1rem 1rem,none,10px)
    }
  
    .prueba a:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .galeria {
    text-align: center;
  }
  