/* desktop */
@media (min-width: 1024px) {
    .prueba {
      overflow: hidden;
      background-color: #333;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .prueba a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 100px;
      text-decoration: none;
      font-size: 17px;
    }
  
    .prueba a:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .galeria {
    text-align: center;
  }
  /* para tablet */
  @media (min-width: 480px) and (max-width: 1023px) {
    .prueba {
      overflow: hidden;
      background-color: #333;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .prueba a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 1rem 1rem;
      text-decoration: none;
      font-size: 12px;
    }
  
    .prueba a:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .galeria {
    text-align: center;
  }
  
  /* para smart */
  @media (max-width: 479px) {
    .prueba {
      overflow: hidden;
      background-color: #333;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .prueba a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 1rem 1rem;
      text-decoration: none;
      font-size: 12px;
    }
  
    .prueba a:hover {
      background-color: #ddd;
      color: black;
    }
  }
  .galeria {
    text-align: center;
  }
  